*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
.color-text{
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 black,  /* Sombra izquierda superior */
     1px -1px 0 black,  /* Sombra derecha superior */
    -1px  1px 0 black,  /* Sombra izquierda inferior */
     1px  1px 0 black;  /* Sombra derecha inferior */
    font-family: 'PT Serif', sans-serif;}
.bg-img{
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
    height: 1200px;
}
.color-h2{
    color: #ffffff;
    justify-content: center;
    padding-top: 50px;
}