*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
.color-text{
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 black,  /* Sombra izquierda superior */
     1px -1px 0 black,  /* Sombra derecha superior */
    -1px  1px 0 black,  /* Sombra izquierda inferior */
     1px  1px 0 black;  /* Sombra derecha inferior */
    font-family: 'PT Serif', sans-serif;}
.bg-img{
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
    height: 980px;
}
.color-h2{
    color: #ffffff;
    justify-content: center;
    padding-top: 50px;
}
.cetrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icono{
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 450px;
    margin-top: 20px;
}
.text-icono{
    font-size: 15px;
    color: #000000;
    margin-left: 300px;
    text-align: left;
}
.icono-2{
    font-size: 30px;
    color: #000000;
    margin-top: 20px;
    margin-left: 650px;
}
.text-icono-2{
    font-size: 15px;
    color: #000000;
    margin-left: 280px;
    text-align: left;
}
.back-footer{
    background-image: url(../img/rayas.png);
    background-size: cover;
    background-position: center;
    height: 35px;
}
.contorno{
    text-shadow: 
    -1px -1px 0 white,  /* Sombra izquierda superior */
     1px -1px 0 white,  /* Sombra derecha superior */
    -1px  1px 0 white,  /* Sombra izquierda inferior */
     1px  1px 0 white;  /* Sombra derecha inferior */
}